html, body, .container {
	height: 100%;
}
.home-page {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
}
.page-header a {

  	margin-right: 12px;
}
.page-header img {
  	height: 48px;
  	width: 48px;
  	vertical-align: middle;
}
.page-header h1 {
	display: inline-block;
	vertical-align: middle;
}

.row {
	margin-top: 16px;
}
.nav-active { 
	color: red; 
	font-weight: bold; 
}

#loading-screen {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('../images/preloader.gif') center no-repeat #fff;

	opacity: 0.9;
	transition: all ease-out 0.5s;
}

#loading-screen.ng-hide {
  opacity: 0;
}

.table tbody>tr.vert-align>td {
    vertical-align: middle;
}